@charset "UTF-8";
.text-center {
  text-align: center;
}

.align {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cf {
  zoom: 1;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

body {
  background-color: #161719;
  font-family: "Roboto", sans-serif;
  color: #9fa2a7;
}

.closed {
  color: brown;
}

body .messages {
  width: 900px;
  height: 500px;
  overflow-y: scroll;
  padding: 10px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  width: 5px;
  max-height: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #01ad9b;
  size: 5px;
}

body .messages h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 1.5em;
}

body .messages .speechbubble {
  background-color: #26272b;
  color: #9fa2a7;
  font-size: 0.8em;
  line-height: 1;
  padding: 15px 25px;
  margin-bottom: 5px;
  cursor: default;
  word-wrap: break-word;
}
body .messages .own {
  border-right: 5px solid;
  border-color: #ff8750;
  text-align: right;
}

body .messages .other {
  border-left: 5px solid;
}

body .messages .other:nth-child(3n + 1) {
  border-color: #56b273;
}
body .messages .other:nth-child(3n + 2) {
  border-color: #01ad9b;
}
body .messages .other:nth-child(3n + 3) {
  border-color: #b388dd;
}

body .messages .other .username {
  display: inline;
  font-style: italic;
  float: right;
}
body .messages .other .username:before {
  content: "- ";
}

#user::after {
  content: ":";
}

/*css for text box*/
.messageBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 14px;
  margin: 0.875rem;
}

.messageBox label,
.messageBox input[type="text"],
.messageBox input[type="submit"] {
  border-radius: 0.25rem;
  padding: 10px;
}

.messageBox label {
  background-color: #282c30;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.messageBox input[type="text"] {
  background-color: #3b4148;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  color: #eee;
}

.messageBox input[type="text"]:focus,
.messageBox input[type="text"]:hover {
  background-color: #464b51;
}

.messageBox input[type="submit"] {
  background-color: #01ad9b;
  color: #eee;
  font-weight: 700;
  text-transform: uppercase;
}

.messageBox input[type="submit"]:focus,
.messageBox input[type="submit"]:hover {
  background-color: #56b273;
}
